header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 200px;
    background-color: var(--gray-700);
}

.checkListLogo {
    height: 4rem;
}

.title {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--blue);
}

.to {
    color: white;
}

.do {
    color: var(--blue)
}

.list {
    color: var(--purple-dark)
}